*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef3fa;
    overflow-x: hidden;
}
/* Navigation */

nav{
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #0057b8;
    padding: 15px 40px;

    box-sizing: border-box;
}
.logo-area{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-area img{
    width:55px;
}

.logo-area h2{
    color:white;
    margin:0;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
    margin:0;
    padding:0;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#bcdcff;
}

/* Hero */

.hero{
    text-align:center;
   padding:40px 20px;
}

.hero-logo{
    width:220px;
}

.hero h1{
    color:#0057b8;
    font-size:52px;
}

.hero p{
    font-size:24px;
    color:#555;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#007BFF;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.btn:hover{
    background:#0056b3;
}

/* About */

.about{
    max-width:900px;
    margin:auto;
    padding:50px 25px;
    text-align:center;
}

.about h2{
    color:#0057b8;
}

.about p{
    line-height:1.8;
    color:#444;
}

/* Footer */

footer{
    background:#003d80;
    color:white;
    text-align:center;
    padding:20px;
}
